#banner {
    height: 50vh;
    max-height: 350px;
    background-image: url('/images/header.png');
    background-repeat: no-repeat;
}

#content-banner {
    background-color: rgba(0, 0, 0, 0.514);
    padding: 30px 0 40px 0;
    border-radius: 20px;
}

#content-banner>h1 {
    font-weight: bold;
    color: white;
    margin-bottom: 20px;
}

#content-banner>.input-group {
    height: 40px;
    width: 400px;
}

#content-banner>.input-group>input {
    height: 40px;
    border-radius: 10px 0 0 10px;
}

#content-banner>.input-group>span {
    width: 40px;
    border-radius: 0 10px 10px 0;
}

#content-banner>.input-group>input::placeholder {
    font-size: 15px;
    padding-left: 5px;
}

#course>.row>div {
    margin-bottom: 20px;
}