<div class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5 ">
                <img src="/images/account.png" class="img-fluid col-2 rounded-circle border border-primary">
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="name" type="text" value="Lý Tính Nhiệm"
                                data-sb-validations="required" />
                            <label for="name">Full name</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="username" type="text" value="nhiemlt"
                                data-sb-validations="required" />
                            <label for="email">Username</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="email" type="email" value="lytinhnhiem@gmail.com"
                                data-sb-validations="required,email" />
                            <label for="email">Email address</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input class="form-control" id="birthday" type="date" value="2004-08-02"
                                data-sb-validations="required,date" />
                            <label for="birthday">Birthday</label>
                        </div>
                        <div class="form-floating mb-3">
                            <select class="form-select" name="gender">
                                <option selected value="male">Male</option>
                                <option value="female">Female</option>
                            </select>
                            <label for="gender">Gender</label>
                        </div>
                        <div class="d-grid"><button class="btn btn-primary w-50 mt-5 m-auto" id="submitButton"
                                type="submit">Update account</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>