<div class="py-5">
    <div class="container px-5">
        <div class="bg-light rounded-3 py-5 px-4 px-md-5 mb-5">
            <div class="text-center mb-5">
                <img src="/images/security.png" style="width: 20vh;">
            </div>
            <div class="row gx-5 justify-content-center">
                <div class="col-lg-8 col-xl-6">
                    <form id="contactForm">
                        <div class="form-floating mb-3">
                            <input class="form-control" id="password" type="password" data-sb-validations="required" />
                            <label for="password">Password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="newPassword" type="password"
                                data-sb-validations="required" />
                            <label for="newPassword">New password</label>
                        </div>

                        <div class="form-floating mb-3">
                            <input class="form-control" id="RepeatNewPassword" type="password"
                                data-sb-validations="required" />
                            <label for="RepeatNewPassword">Repeat New password</label>
                        </div>

                        <div class="d-grid"><button class="btn btn-primary w-50 mt-5 m-auto" id="submitButton"
                                type="submit">Update password</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>