<div class="container">
    <div class="py-5">
        <div class="container px-5 my-5">
            <div class="row gx-5 align-items-center">
                <div class="col-lg-6 order-first order-lg-last">
                    <img class="img-fluid rounded mb-5 mb-lg-0" src="/images/contact.png" alt="Growth & Beyond" />
                </div>
                <div class="col-lg-6">
                    <h2>Contact Us</h2>
                    <p><strong>Address:</strong> 123 ABC Street, XYZ City, Country</p>
                    <p><strong>Phone:</strong> (+84) 123 456 789</p>
                    <p><strong>Email:</strong> <a href="mailto:lytinhnhiem@gmail.com">lytinhnhiem@gmail.com</a></p>
                    <p><strong>Working Hours:</strong><br>
                        Monday - Friday: 8:00 AM - 5:00 PM<br>
                        Saturday: 8:00 AM - 12:00 PM
                    </p>
                    <p><strong>Social Media:</strong> <br> <br>
                        <a href="#"><i class="fab fa-facebook fa-3x text-dark"></i></a>
                        <a href="#"><i class="fab fa-twitter fa-3x text-dark"></i></a>
                        <a href="#"><i class="fab fa-instagram fa-3x text-dark"></i></a>
                        <a href="#"><i class="fab fa-youtube fa-3x text-dark"></i></a>
                    </p>

                </div>

            </div>
        </div>
    </div>
</div>
<div class="py-5 bg-light" id="scroll-target">
    <div class="container px-5 my-5">
        <div class="row gx-5 align-items-center">
            <iframe
                src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d31433.16534377932!2d105.7497567760698!3d10.004824076934067!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31a08906415c355f%3A0x416815a99ebd841e!2zVHLGsOG7nW5nIENhbyDEkeG6s25nIEZQVCBQb2x5dGVjaG5pYw!5e0!3m2!1svi!2s!4v1705766875097!5m2!1svi!2s"
                width="50vw" height="500vw" style="border:0;" allowfullscreen="" loading="lazy"
                referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
    </div>
</div>

</div>