
        <div class="container">
            <link rel="stylesheet" href="/css/course.css">
            <div class="row" id="banner">
                <div class="col-md-10 m-auto text-center" id="content-banner">
                    <h1>THE FOXY</h1>
                    <div class="input-group m-auto">
                        <input class="form-control" type="text" placeholder="Search for your courses">
                        <span class="input-group-text"><i class="fa fa-search m-auto"></i></span>
                    </div>
                </div>
            </div>
            <div class="row" id="courses">
                <article class="col-md-12" id="course">
                    <div class="row mt-4">
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/1.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/1.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/1.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/1.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/2.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/2.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/2.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-3">
                            <div class="card text-white bg-dark">
                                <img class="card-img-top" src="/images/2.png" alt="Title" />
                                <div class="card-body">
                                    <small class="text-mute">Type of course</small>
                                    <h4 class="card-title">Courses name</h4>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-9">
                                            <p class="card-text">Price</p>
                                        </div>
                                        <div class="col-md-3">
                                            <a name="" type="button" id=""
                                                class="text-white d-flex justify-content-end p-0" data-bs-toggle="modal"
                                                data-bs-target="#staticBackdrop" data-bs-toggle="tooltip"
                                                title="Click to see details!" role="button">Detail</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <ul class="pagination justify-content-center">
                            <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                            <li class="page-item active"><a class="page-link" href="#">1</a></li>
                            <li class="page-item"><a class="page-link" href="#">2</a></li>
                            <li class="page-item"><a class="page-link" href="#">3</a></li>
                            <li class="page-item"><a class="page-link" href="#">Next</a></li>
                        </ul>
                    </div>
                </article>
                <!-- Modal -->
                <div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered">
                        <div class="modal-content">
                            <div class="modal-dialog m-2">
                                <div class="modal-content" style="border: none;">
                                    <div class="modal-header">
                                        <h2 class="modal-title text-primary"> COURSE DETAIL</h2>
                                        <h3 type="button" class="fa-regular fa-circle-xmark" data-bs-dismiss="modal"
                                            aria-label="Close"></h3>
                                    </div>
                                    <div class="container-fluid">
                                        <div class="row">
                                            <div class="col-md-6 m-auto" style="padding-left: 30px">
                                                <img src="/images/logos/JABS.png" class="w-25">
                                                <h3 class="m-auto text-success">Course title</h3>
                                                <br>
                                                <p>You have 10 minutes !</p>
                                                <strong>10 questions</strong>
                                                <br><br><br>
                                                <button type="button" class="btn btn-secondary"
                                                    data-bs-dismiss="modal">Cancel</button>
                                                <a type="button" class="btn btn-primary" href="quiz-template.html">Start quiz</a>
                                            </div>
                                            <div class="col-md-6">
                                                <img src="/images/modelIcon.png"
                                                    style="width: 80%;">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>