
        <div class="py-5">
            <div class="container px-5">
                <div class="row justify-content-center">
                    <div class="col-lg-8 col-xxl-6">
                        <div class="text-center my-5">
                            <img src="/images/logo.png" class="col-3" srcset="">
                            <h1 class="fw-bolder mb-3">Welcome to The Foxy</h1>
                            <p class="lead fw-normal text-muted mb-4">Explore a world of IT quizzes and resources
                                designed to enhance your learning experience. Join us on this journey of knowledge!</p>
                            <a class="btn btn-primary btn-lg" href="#scroll-target">Read our story</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5 text-bg-dark" id="scroll-target">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6">
                        <img class="img-fluid rounded mb-5 mb-lg-0" src="/images/techno.png"
                            alt="Our Founding" />
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Our Journey Begins</h2>
                        <p class="lead fw-normal text-white mb-0">Embark on a learning adventure with The Foxy. Our
                            platform is dedicated to providing IT students with engaging quizzes and educational
                            resources.</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="py-5">
            <div class="container px-5 my-5">
                <div class="row gx-5 align-items-center">
                    <div class="col-lg-6 order-first order-lg-last">
                        <img class="img-fluid rounded mb-5 mb-lg-0" src="/images/growup.png"
                            alt="Growth & Beyond" />
                    </div>
                    <div class="col-lg-6">
                        <h2 class="fw-bolder">Growth & Beyond</h2>
                        <p class="lead fw-normal text-muted mb-0">Our commitment goes beyond quizzes. Explore a platform
                            designed for growth, continuous learning, and success in the ever-evolving field of IT.</p>
                    </div>
                </div>
            </div>
        </div>